= content_for :splash_nav do
  %li
    %a.smoothscroll.hidden-xs{ href: '#policies' } Policies
    %a.smoothscroll.visible-xs{ href: '#policies', data: {toggle: "collapse", target:".navbar-collapse" }} Policies
.container

  .row
    .col-md-12
      = markdown(@coc)
