html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by 2 times the footer height */
  margin-bottom: 36px;
  /* Margin bottom by navbar height */
  // padding-top: 60px;
}

#content {
  padding-bottom: 60px;
}

#footer {
  bottom: 0;
  width: 100%;
  color: grey;
  background-color: #2F2F2F;
  .container {
    padding: 5px;
  }
}

// different color for the splashpage footer
.splash-footer {
  position: absolute;
}

.container {
  width: 90%;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-custom {
    // background-color: rgba(0,0,0,0.3);
    border: 0 none;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
    margin: 0;
}
.navbar-custom .navbar-nav > li > a {
    border-bottom: 3px solid transparent;
    text-shadow: 1px 1px 3px #000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    outline: 0;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.7);
}
.navbar-custom .navbar-nav > .active > a {
    border-color: rgb(255, 255, 255);
}

.nav-tabs {
  margin-bottom: 15px;
}

.navbar-brand {
    color: white;
    font-size: 30px;
}

.navbar-brand img {
   max-height:50px;
   margin-top: -14px;
}

.navbar-solid {
    background-color: white;
    padding: 0 !important;
    transition: all 0.2s linear 0s;
    -webkit-box-shadow: 0 3px 6px -6px black;
    -moz-box-shadow: 0 3px 6px -6px black;
    box-shadow: 0 3px 6px -6px black;
}

.navbar-solid a.navbar-brand {
  color: grey !important;
}

.navbar-solid .navbar-toggle > span {
  background-color: grey !important;
}

.navbar-solid .navbar-nav > li > a {
    border-bottom: 2px solid transparent;
    text-shadow: none;
    color: black;
}

.navbar-solid .navbar-nav > li > a:focus, .navbar-solid .navbar-nav > li > a:hover {
    background-color: whitesmoke;
    border-bottom: 2px solid #ccc;
}

.navbar-solid .navbar-brand img {
    filter: brightness(33%);
}

.navbar-solid .dropdown-menu > li > a {
  color: black !important;
}

// make the navbar pills width a litter smaller to prevents accidental clicks while filling in some form
.nav.mySidebar > li > a {
  width: 85%;
}

.img-center {
  margin: 0 auto;
}

.userpic {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  img {
    border-radius: 50%;
  }
}


.social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 20px;
    padding: 0;
}

.social-share {
    min-width: 50px;
}

.social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-top: 2px;
}

.social-share > li > a {
  color: white
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-top {
  vertical-align:top;
}

fieldset {
  margin: 20px 0 20px 0;
}

.bootstrap-switch {
  height: 1.7em
}

.comment-reply{
  padding-top: 40px;
}

p.comment-body {
  padding-top: 20px;
}

.well.comment-section {
  padding-bottom: 40px;
}

#account-already {
  font-size: 0.6em;
}

/* comments views pane: use padding-bottom before next comment box */
.panel.panel-default .panel-body .notifications {
  padding-bottom: 20px;
}

/* comments views pane: use padding-bottom after each comment */
.panel.panel-default .panel-body .notifications p {
  padding-bottom: 20px;
}

#proposal-info div dt, #proposal-info div dd {
  display: inline-block;
  text-align: left;
}

#proposal-info dt, #proposal-info dd {
  text-align: left;
}


.changeset{
  display: none;
}
